In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
home_team = 11
away_team = 21

In [3]:
engine = create_engine("postgresql://postgres:postgres@127.0.0.1:5432/armagedon")

In [20]:
query_home = f"""
SELECT stats.*, games.home_team, games.date
FROM stats
LEFT JOIN games ON game_id = id
WHERE season = (SELECT MAX(season) FROM games)
AND team_id={home_team};
""".replace('\n', ' ')
query_away = f"""
SELECT stats.*, games.home_team, games.date
FROM stats
LEFT JOIN games ON game_id = id
WHERE season = (SELECT MAX(season) FROM games)
AND team_id={away_team};
""".replace('\n', ' ')

In [21]:
data_home

,game_id,team_id,fastBreakPoints,pointsInPaint,biggestLead,secondChancePoints,pointsOffTurnovers,longestRun,points,fgm,...,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,home_team,date
0,12551,1,None,None,None,None,None,None,110,39,...,30,42,24,19,12,12,1,-6.0,5,2023-10-25
1,12567,1,None,None,None,None,None,None,120,42,...,35,44,28,20,8,14,6,-6.0,1,2023-10-27
2,12585,1,None,None,None,None,None,None,127,47,...,33,46,32,17,15,17,2,17.0,21,2023-10-29
3,12592,1,None,None,None,None,None,None,127,48,...,32,36,28,12,6,11,7,14.0,1,2023-10-30
4,12605,1,None,None,None,None,None,None,130,46,...,43,57,26,16,8,21,3,9.0,1,2023-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,13352,1,None,None,None,None,None,None,121,46,...,34,54,27,11,5,9,4,-2.0,1,2024-02-24
59,13369,1,None,None,None,None,None,None,109,41,...,35,44,31,17,10,10,3,17.0,1,2024-02-26
60,13383,1,None,None,None,None,None,None,124,46,...,40,55,27,15,8,18,8,27.0,1,2024-02-28
61,13399,1,None,None,None,None,None,None,97,37,...,31,39,18,14,3,14,8,-27.0,4,2024-03-01
62,13414,1,None,None,None,None,None,None,102,37,...,30,42,23,19,4,12,4,-12.0,4,2024-03-02

In [49]:
def streak(df_):
    df_ = df_.sort_values(by='date',ascending=False)
    val = 0 
    for _, row in df_.iterrows():
        if val == 0:
            result = row['win'] 
        if row['win'] != result:
            return val
        val += 1 if result else -1
    return val

In [93]:
def create_stats(df_):
    df_ = df_.sort_values(by='date')
    df_ = df_.drop(columns=["fastBreakPoints","pointsInPaint","biggestLead","secondChancePoints","pointsOffTurnovers","longestRun"])
    df_['home_team'] = df_['team_id']==df_['home_team']
    df_['win'] = df_['plusMinus']> 0 
    df_['win_home'] = df_['home_team'] & df_['win']
    df_['win_away'] = (-df_['home_team']) & df_['win']
    df_['nb_games'] = df_["game_id"].count()

    for col in df_.drop(columns=["game_id","team_id","date",'nb_games']).columns:
        df_[f'{col}_cumul'] = df_[col].sum()
        df_[f'{col}_avg'] = df_[f'{col}_cumul'] /df_['nb_games']
    df_['win_home_avg'] = df_['win_home_cumul'] /df_['home_team_cumul']
    df_['win_away_avg'] = df_['win_away_cumul'] /(df_['nb_games']-df_['home_team_cumul'])
    df_['last_10_games_wins'] = df_.rolling(window=10, min_periods=1, on="date")['win'].sum().reset_index(drop=False)['win']
    result = df_.iloc[-1:].reset_index(drop=False)
    result['serie'] = streak(df_)
    result = result.drop(columns=result.columns[1:27])
    result = result.loc[:,~result.columns.str.endswith('cumul')]
    result['index']=1
    return result

In [98]:
pd.set_option('display.max_columns', None)
data_home = pd.read_sql(query_home, engine)
result_h  = create_stats(data_home)

In [97]:
data_away  = pd.read_sql(query_away, engine)
resutl_a  = create_stats(data_away)

In [101]:
X = pd.merge(result_h,resutl_a, how='inner', on='index', suffixes=('_home','_away')).drop(columns='index')
X

,nb_games_home,points_avg_home,fgm_avg_home,fga_avg_home,fgp_avg_home,ftm_avg_home,fta_avg_home,ftp_avg_home,tpm_avg_home,tpa_avg_home,tpp_avg_home,offReb_avg_home,defReb_avg_home,totReb_avg_home,assists_avg_home,pFouls_avg_home,steals_avg_home,turnovers_avg_home,blocks_avg_home,plusMinus_avg_home,home_team_avg_home,win_avg_home,win_home_avg_home,win_away_avg_home,last_10_games_wins_home,serie_home,nb_games_away,points_avg_away,fgm_avg_away,fga_avg_away,fgp_avg_away,ftm_avg_away,fta_avg_away,ftp_avg_away,tpm_avg_away,tpa_avg_away,tpp_avg_away,offReb_avg_away,defReb_avg_away,totReb_avg_away,assists_avg_away,pFouls_avg_away,steals_avg_away,turnovers_avg_away,blocks_avg_away,plusMinus_avg_away,home_team_avg_away,win_avg_away,win_home_avg_away,win_away_avg_away,last_10_games_wins_away,serie_away
0,63,120.079365,43.365079,93.52381,63.279365,19.904762,24.571429,81.25873,13.444444,37.396825,36.004762,12.984127,32.174603,45.15873,26.301587,18.380952,7.492063,13.174603,4.507937,-1.68254,0.539683,0.444444,0.5,0.37931,4.0,-2,62,121.322581,43.822581,89.66129,63.13871,17.225806,21.241935,80.945161,16.451613,42.33871,38.817742,10.387097,36.387097,46.774194,26.435484,16.967742,6.564516,12.322581,6.596774,11.548387,0.516129,0.806452,0.90625,0.7,10.0,13

In [104]:
from xgboost import XGBClassifier

xg2 = XGBClassifier()
xg2.load_model('XGBmodel_name.json')
y = xg2.predict_proba(X)
y

array([[0.78623956, 0.21376045]], dtype=float32)