In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://postgres:postgres@127.0.0.1:5432/armagedon")

In [3]:
data_games = pd.read_sql('SELECT * FROM games WHERE status = 3',engine)
data_stats = pd.read_sql('SELECT * FROM stats',engine)

In [4]:
data_games.shape, data_stats.shape

((11134, 7), (22354, 27))

In [5]:
data_stats = pd.merge(data_stats,data_games[['id','home_team','date','season']], how='left', left_on='game_id', right_on='id')
data_stats = data_stats.drop(columns=["id"])
data_stats = data_stats.sort_values(by='date')

In [6]:
data_stats.isnull().sum()

game_id                  0
team_id                  0
fastBreakPoints       4536
pointsInPaint         4536
biggestLead           4536
secondChancePoints    7154
pointsOffTurnovers    4536
longestRun            7154
points                   0
fgm                      0
fga                      0
fgp                      0
ftm                      0
fta                      0
ftp                      0
tpm                      0
tpa                      0
tpp                      0
offReb                   0
defReb                   0
totReb                   0
assists                  0
pFouls                   0
steals                   0
turnovers                0
blocks                   0
plusMinus                0
home_team                0
date                     0
season                   0
dtype: int64

In [7]:
data_stats = data_stats.drop(columns=["fastBreakPoints","pointsInPaint","biggestLead","secondChancePoints","pointsOffTurnovers","longestRun"])

In [8]:
data_stats.head()

,game_id,team_id,points,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,home_team,date,season
19476,116,10,92,30,74,40.5,25,34,73.5,7,19,36.8,8,35,43,16,20,2,10,4,5.0,10,2015-10-28,2015
19481,118,15,99,32,86,37.2,26,31,83.9,9,23,39.1,8,32,40,23,30,14,13,3,-7.0,38,2015-10-28,2015
19480,118,38,106,36,80,45.0,27,39,69.2,7,18,38.9,9,41,50,19,24,8,20,2,7.0,38,2015-10-28,2015
19479,117,5,94,33,84,39.3,22,29,75.9,6,24,25.0,11,32,43,16,16,4,8,1,-10.0,20,2015-10-28,2015
19478,117,20,104,36,73,49.3,20,21,95.2,12,20,60.0,2,39,41,23,25,5,13,7,10.0,20,2015-10-28,2015

In [9]:
data_stats['home_team'] = data_stats['team_id']==data_stats['home_team']
data_stats['win'] = data_stats['plusMinus']> 0 
data_stats['win_home'] = data_stats['home_team'] & data_stats['win']
data_stats['win_away'] = (-data_stats['home_team']) & data_stats['win']

In [10]:
mask = (data_stats["team_id"]==1) & (data_stats["season"]==2022)
data_stats[mask].head(10)

,game_id,team_id,points,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,home_team,date,season,win,win_home,win_away
81,11054,1,117,45,90,50.0,20,24,83.3,7,25,28.0,4,34,38,30,18,12,9,5,10.0,True,2022-10-19,2022,True,True,False
111,11069,1,108,40,89,44.9,15,16,93.8,13,31,41.9,9,37,46,26,22,10,17,2,10.0,True,2022-10-21,2022,True,True,False
147,11087,1,109,39,95,41.1,23,28,82.1,8,35,22.9,16,29,45,23,21,8,12,9,-17.0,True,2022-10-23,2022,False,False,False
11,11106,1,118,45,91,68.2,20,25,80.0,8,22,36.4,10,36,46,22,20,6,12,12,5.0,False,2022-10-26,2022,True,False,True
37,11119,1,136,55,97,81.6,14,18,77.8,12,29,41.4,10,35,45,31,26,5,7,8,24.0,False,2022-10-28,2022,True,False,True
67,11134,1,115,45,94,65.5,12,15,80.0,13,29,44.8,12,30,42,19,23,5,13,2,-8.0,False,2022-10-30,2022,False,False,False
197,11148,1,109,39,84,82.5,20,25,80.0,11,29,37.9,7,30,37,28,27,1,18,4,-30.0,False,2022-10-31,2022,False,False,False
219,11159,1,112,44,107,75.0,12,16,75.0,12,34,35.3,17,34,51,28,18,11,9,4,13.0,False,2022-11-02,2022,True,False,True
266,11183,1,124,47,103,45.6,21,25,84.0,9,36,25.0,12,38,50,28,23,12,13,8,3.0,True,2022-11-05,2022,True,True,False
296,11198,1,117,46,99,46.5,14,17,82.4,11,29,37.9,12,36,48,23,18,11,12,3,19.0,True,2022-11-08,2022,True,True,False

In [11]:
data_stats['nb_games'] = data_stats.groupby(['team_id', 'season'])["game_id"].cumcount() + 1

for col in data_stats.drop(columns=["game_id","team_id","date","season",'nb_games']).columns:
    data_stats[f'{col}_cumul'] = data_stats.groupby(['team_id', 'season'])[col].cumsum()
    data_stats[f'{col}_avg'] = data_stats[f'{col}_cumul'] /data_stats['nb_games']
data_stats['win_home_avg'] = data_stats['win_home_cumul'] /data_stats['home_team_cumul']
data_stats['win_away_avg'] = data_stats['win_away_cumul'] /(data_stats['nb_games']-data_stats['home_team_cumul'])

In [12]:
mask = (data_stats["team_id"]==1) & (data_stats["season"]==2022)

In [13]:

data_stats = data_stats.sort_values(by=['team_id','season','date']).reset_index(drop=False)
data_stats['last_10_games_wins'] = data_stats.groupby(['team_id','season']).rolling(window=10, min_periods=1, on="date")['win'].sum().reset_index(drop=False)['win']

In [14]:
mask = (data_stats["team_id"]==1) & (data_stats["season"]==2022)
data_stats[mask][['season','date','win','last_10_games_wins']]

     season        date    win  last_10_games_wins
589    2022  2022-10-19   True                 1.0
590    2022  2022-10-21   True                 2.0
591    2022  2022-10-23  False                 2.0
592    2022  2022-10-26   True                 3.0
593    2022  2022-10-28   True                 4.0
..      ...         ...    ...                 ...
673    2022  2023-04-18  False                 5.0
674    2022  2023-04-21   True                 5.0
675    2022  2023-04-23  False                 5.0
676    2022  2023-04-25   True                 5.0
677    2022  2023-04-28  False                 4.0

[89 rows x 4 columns]

In [15]:
def streak(row):
    mask = (data_stats['team_id'] == row['team_id']) & (data_stats['season'] == row['season']) & (data_stats['date'] < row['date']) 
    df_ = data_stats[mask][['date','win']]
    df_ = df_.sort_values(by='date',ascending=False)
    val = 1 if row['win'] else -1
    for _, row_temp in df_.iterrows():
        if row['win'] != row_temp['win']:
            return val
        val += 1 if row['win'] else -1
    return val

In [16]:
data_stats['serie'] = data_stats.apply(streak, axis=1)

In [19]:
mask = (data_stats["team_id"]==1) & (data_stats["season"]==2022)
data_stats[mask][['season','date','win','serie']]

     season        date    win  serie
589    2022  2022-10-19   True      1
590    2022  2022-10-21   True      2
591    2022  2022-10-23  False     -1
592    2022  2022-10-26   True      1
593    2022  2022-10-28   True      2
..      ...         ...    ...    ...
673    2022  2023-04-18  False     -2
674    2022  2023-04-21   True      1
675    2022  2023-04-23  False     -1
676    2022  2023-04-25   True      1
677    2022  2023-04-28  False     -1

[89 rows x 4 columns]

In [18]:
data_stats.to_csv('stats.csv')