In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://postgres:postgres@127.0.0.1:5432/armagedon")

In [3]:
data_games = pd.read_sql('SELECT * FROM games WHERE status = 3',engine)
data_stats = pd.read_sql('SELECT * FROM stats',engine)

In [4]:
data_games.shape, data_stats.shape

((11126, 7), (22338, 27))

In [5]:
data_stats = pd.merge(data_stats,data_games[['id','home_team','date','season']], how='left', left_on='game_id', right_on='id')
data_stats = data_stats.drop(columns=["id"])
data_stats = data_stats.sort_values(by='date')

In [6]:
data_stats.head()

,game_id,team_id,fastBreakPoints,pointsInPaint,biggestLead,secondChancePoints,pointsOffTurnovers,longestRun,points,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,home_team,date,season
19476,116,10,6.0,38.0,9.0,NaN,8.0,NaN,92,30,74,40.5,25,34,73.5,7,19,36.8,8,35,43,16,20,2,10,4,5.0,10,2015-10-28,2015
19481,118,15,20.0,36.0,16.0,NaN,18.0,NaN,99,32,86,37.2,26,31,83.9,9,23,39.1,8,32,40,23,30,14,13,3,-7.0,38,2015-10-28,2015
19480,118,38,9.0,46.0,12.0,NaN,12.0,NaN,106,36,80,45.0,27,39,69.2,7,18,38.9,9,41,50,19,24,8,20,2,7.0,38,2015-10-28,2015
19479,117,5,8.0,42.0,7.0,NaN,19.0,NaN,94,33,84,39.3,22,29,75.9,6,24,25.0,11,32,43,16,16,4,8,1,-10.0,20,2015-10-28,2015
19478,117,20,15.0,40.0,20.0,NaN,11.0,NaN,104,36,73,49.3,20,21,95.2,12,20,60.0,2,39,41,23,25,5,13,7,10.0,20,2015-10-28,2015

In [7]:
data_stats['home_team'] = data_stats['team_id']==data_stats['home_team']
data_stats['win'] = data_stats['plusMinus']> 0 
data_stats['win_home'] = data_stats['home_team'] & data_stats['win']
data_stats['win_away'] = (-data_stats['home_team']) & data_stats['win']

In [8]:
mask = (data_stats["team_id"]==1) & (data_stats["season"]==2022)
data_stats[mask].head(10)

,game_id,team_id,fastBreakPoints,pointsInPaint,biggestLead,secondChancePoints,pointsOffTurnovers,longestRun,points,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,home_team,date,season,win,win_home,win_away
81,11054,1,NaN,NaN,NaN,NaN,NaN,NaN,117,45,90,50.0,20,24,83.3,7,25,28.0,4,34,38,30,18,12,9,5,10.0,True,2022-10-19,2022,True,True,False
111,11069,1,NaN,NaN,NaN,NaN,NaN,NaN,108,40,89,44.9,15,16,93.8,13,31,41.9,9,37,46,26,22,10,17,2,10.0,True,2022-10-21,2022,True,True,False
147,11087,1,NaN,NaN,NaN,NaN,NaN,NaN,109,39,95,41.1,23,28,82.1,8,35,22.9,16,29,45,23,21,8,12,9,-17.0,True,2022-10-23,2022,False,False,False
11,11106,1,NaN,NaN,NaN,NaN,NaN,NaN,118,45,91,68.2,20,25,80.0,8,22,36.4,10,36,46,22,20,6,12,12,5.0,False,2022-10-26,2022,True,False,True
37,11119,1,NaN,NaN,NaN,NaN,NaN,NaN,136,55,97,81.6,14,18,77.8,12,29,41.4,10,35,45,31,26,5,7,8,24.0,False,2022-10-28,2022,True,False,True
67,11134,1,NaN,NaN,NaN,NaN,NaN,NaN,115,45,94,65.5,12,15,80.0,13,29,44.8,12,30,42,19,23,5,13,2,-8.0,False,2022-10-30,2022,False,False,False
197,11148,1,NaN,NaN,NaN,NaN,NaN,NaN,109,39,84,82.5,20,25,80.0,11,29,37.9,7,30,37,28,27,1,18,4,-30.0,False,2022-10-31,2022,False,False,False
219,11159,1,NaN,NaN,NaN,NaN,NaN,NaN,112,44,107,75.0,12,16,75.0,12,34,35.3,17,34,51,28,18,11,9,4,13.0,False,2022-11-02,2022,True,False,True
266,11183,1,NaN,NaN,NaN,NaN,NaN,NaN,124,47,103,45.6,21,25,84.0,9,36,25.0,12,38,50,28,23,12,13,8,3.0,True,2022-11-05,2022,True,True,False
296,11198,1,NaN,NaN,NaN,NaN,NaN,NaN,117,46,99,46.5,14,17,82.4,11,29,37.9,12,36,48,23,18,11,12,3,19.0,True,2022-11-08,2022,True,True,False

In [9]:
data_stats['nb_games'] = data_stats.groupby(['team_id', 'season'])["game_id"].cumcount() + 1

for col in data_stats.drop(columns=["game_id","team_id","date","season",'nb_games']).columns:
    data_stats[f'{col}_cumul'] = data_stats.groupby(['team_id', 'season'])[col].cumsum()
    data_stats[f'{col}_avg'] = data_stats[f'{col}_cumul'] /data_stats['nb_games']
data_stats['win_home_avg'] = data_stats['win_home_cumul'] /data_stats['home_team_cumul']
data_stats['win_away_avg'] = data_stats['win_away_cumul'] /(data_stats['nb_games']-data_stats['home_team_cumul'])

In [10]:
mask = (data_stats["team_id"]==1) & (data_stats["season"]==2022)
data_stats[mask]

,game_id,team_id,fastBreakPoints,pointsInPaint,biggestLead,secondChancePoints,pointsOffTurnovers,longestRun,points,fgm,fga,fgp,ftm,fta,ftp,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,home_team,date,season,win,win_home,win_away,nb_games,fastBreakPoints_cumul,fastBreakPoints_avg,pointsInPaint_cumul,pointsInPaint_avg,biggestLead_cumul,biggestLead_avg,secondChancePoints_cumul,secondChancePoints_avg,pointsOffTurnovers_cumul,pointsOffTurnovers_avg,longestRun_cumul,longestRun_avg,points_cumul,points_avg,fgm_cumul,fgm_avg,fga_cumul,fga_avg,fgp_cumul,fgp_avg,ftm_cumul,ftm_avg,fta_cumul,fta_avg,ftp_cumul,ftp_avg,tpm_cumul,tpm_avg,tpa_cumul,tpa_avg,tpp_cumul,tpp_avg,offReb_cumul,offReb_avg,defReb_cumul,defReb_avg,totReb_cumul,totReb_avg,assists_cumul,assists_avg,pFouls_cumul,pFouls_avg,steals_cumul,steals_avg,turnovers_cumul,turnovers_avg,blocks_cumul,blocks_avg,plusMinus_cumul,plusMinus_avg,home_team_cumul,home_team_avg,win_cumul,win_avg,win_home_cumul,win_home_avg,win_away_cumul,win_away_avg
81,11054,1,NaN,NaN,NaN,NaN,NaN,NaN,117,45,90,50.0,20,24,83.3,7,25,28.0,4,34,38,30,18,12,9,5,10.0,True,2022-10-19,2022,True,True,False,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117,117.000000,45,45.000000,90,90.000000,50.0,50.000000,20,20.000000,24,24.000000,83.3,83.300000,7,7.000000,25,25.000000,28.0,28.000000,4,4.000000,34,34.000000,38,38.000000,30,30.000000,18,18.000000,12,12.000000,9,9.000000,5,5.000000,10.0,10.000000,1,1.000000,1,1.000000,1,1.000000,0,NaN
111,11069,1,NaN,NaN,NaN,NaN,NaN,NaN,108,40,89,44.9,15,16,93.8,13,31,41.9,9,37,46,26,22,10,17,2,10.0,True,2022-10-21,2022,True,True,False,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225,112.500000,85,42.500000,179,89.500000,94.9,47.450000,35,17.500000,40,20.000000,177.1,88.550000,20,10.000000,56,28.000000,69.9,34.950000,13,6.500000,71,35.500000,84,42.000000,56,28.000000,40,20.000000,22,11.000000,26,13.000000,7,3.500000,20.0,10.000000,2,1.000000,2,1.000000,2,1.000000,0,NaN
147,11087,1,NaN,NaN,NaN,NaN,NaN,NaN,109,39,95,41.1,23,28,82.1,8,35,22.9,16,29,45,23,21,8,12,9,-17.0,True,2022-10-23,2022,False,False,False,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,334,111.333333,124,41.333333,274,91.333333,136.0,45.333333,58,19.333333,68,22.666667,259.2,86.400000,28,9.333333,91,30.333333,92.8,30.933333,29,9.666667,100,33.333333,129,43.000000,79,26.333333,61,20.333333,30,10.000000,38,12.666667,16,5.333333,3.0,1.000000,3,1.000000,2,0.666667,2,0.666667,0,NaN
11,11106,1,NaN,NaN,NaN,NaN,NaN,NaN,118,45,91,68.2,20,25,80.0,8,22,36.4,10,36,46,22,20,6,12,12,5.0,False,2022-10-26,2022,True,False,True,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452,113.000000,169,42.250000,365,91.250000,204.2,51.050000,78,19.500000,93,23.250000,339.2,84.800000,36,9.000000,113,28.250000,129.2,32.300000,39,9.750000,136,34.000000,175,43.750000,101,25.250000,81,20.250000,36,9.000000,50,12.500000,28,7.000000,8.0,2.000000,3,0.750000,3,0.750000,2,0.666667,1,1.000000
37,11119,1,NaN,NaN,NaN,NaN,NaN,NaN,136,55,97,81.6,14,18,77.8,12,29,41.4,10,35,45,31,26,5,7,8,24.0,False,2022-10-28,2022,True,False,True,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,588,117.600000,224,44.800000,462,92.400000,285.8,57.160000,92,18.400000,111,22.200000,417.0,83.400000,48,9.600000,142,28.400000,170.6,34.120000,49,9.800000,171,34.200000,220,44.000000,132,26.400000,107,21.400000,41,8.200000,57,11.400000,36,7.200000,32.0,6.400000,3,0.600000,4,0.800000,2,0.666667,2,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2185,12381,1,NaN,NaN,NaN,NaN,NaN,NaN,106,43,101,80.0,4,8,50.0,16,48,33.3,19,30,49,21,11,10,16,4,-13.0,False,2023-04-18,2022,False,False,False,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10032,118.023529,3784,44.517647,7869,92.576471,5471.4,64.369412,1551,18.247059,1907,22.435294,6912.3,81.321176,913,10.741176,2623,30.858824,2972.7,34.972941,975,11.470588,2821,33.188235,3796,44.658824,2119,24.929412,1590,18.705882,608,7.152941,1099,12.929412,417,4.905882,9.0,0.105882,41,0.482353,42,0.494118,24,0.585366,18,0.409091
2198,12388,1,NaN,NaN,NaN,NaN,NaN,NaN,130,51,91,56.0,13,16,81.3,15,34,44.1,11,37,48,24,15,5,19,6,8.0,True,2023-04-21,2022,True,True,False,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10162,118.162791,3835,44.593023,7960,92.558140,5527.4,64.272093,1564,18.186047,1923,22.360465,6993.6,81.320930,928,10.790698,2657,30.895349,3016.8,35.079070,986,11.465116,2858,33.232558,3844,44.697674,2143,24.918605,1605,18.662791,613,7.127907,1118,13.000000,423,4.918605,17.0,0.197674,42,0.488372,43,0.500000,25,0.595238,18,0.409091
2212,12395,1,NaN,NaN,NaN,NaN,NaN,NaN,121,43,98,43.9,21,24,87.5,14,37,37.8,11,31,42,25,24,8,12,4,-8.0,True,2023-04-23,2022,False,False,False,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10283,118.195402,3878,44.574713,8058,92.620690,5571.3,64.037931,1585,18.218391,1947,22.379310,7081.1,81.391954,942,10.827586,2694,30.965517,3054.6,35.110345,997,11.459770,2889,33.206897,3886,44.666667,2168,24.919540,1629,18.724138,621,7.137931,1130,12.988506,427,4.908046,9.0,0.103448,43,0.494253,43,0.494253,25,0.581395,18,0.409091
2219,12399,1,NaN,NaN,NaN,NaN,NaN,NaN,119,45,96,53.8,10,10,100.0,19,41,46.3,6,28,34,26,16,5,9,4,2.0,False,2023-04-25,2022,True,False,True,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10402,118.204545,3923,44.579545,8154,92.659091,5625.1,63.921591,1595,18.125000,1957,22.238636,7181.1,81.603409,961,10.920455,2735,31.079545,3100.9,35.237500,1003,11.397727,2917,33.147727,3920,44.545455,2194,24.931818,1645,18.693182,626,7.113636,1139,12.943182,431,4.897727,11.0,0.125000,43,0.488636,44,0.500000,25,0.581395,19,0.422222
2226,12404,1,NaN,NaN,NaN,NaN,NaN,NaN,120,44,94,46.8,17,22,77.3,15,35,42.9,12,33,45,28,15,5,10,7,-8.0,True,2023-04-28,2022,False,False,False,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10522,118.224719,3967,44.573034,8248,92.674157,5671.9,63.729213,1612,18.112360,1979,22.235955,7258.4,81.555056,976,10.966292,2770,31.123596,3143.8,35.323596,1015,11.404494,2950,33.146067,3965,44.550562,2222,24.966292,1660,18.651685,631,7.089888,1149,12.910112,438,4.921348,3.0,0.033708,44,0.494382,44,0.494382,25,0.568182,19,0.422222