In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://postgres:postgres@127.0.0.1:5432/armagedon")

In [3]:
data_games = pd.read_sql('SELECT * FROM games WHERE status = 3',engine)
data_stats = pd.read_sql('SELECT * FROM stats',engine)

In [4]:
data_games.shape, data_stats.shape

((11126, 7), (22338, 27))

In [5]:
data_stats = pd.merge(data_stats,data_games[['id','home_team','date','season']], how='left', left_on='game_id', right_on='id')

In [6]:
data_stats.head()

,game_id,team_id,fastBreakPoints,pointsInPaint,biggestLead,secondChancePoints,pointsOffTurnovers,longestRun,points,fgm,...,assists,pFouls,steals,turnovers,blocks,plusMinus,id,home_team,date,season
0,11101,41,NaN,NaN,NaN,NaN,NaN,NaN,120,44,...,26,21,7,12,7,21.0,11101,41,2022-10-25,2022
1,11101,10,NaN,NaN,NaN,NaN,NaN,NaN,99,36,...,12,26,6,13,1,-21.0,11101,41,2022-10-25,2022
2,11102,23,NaN,NaN,NaN,NaN,NaN,NaN,113,44,...,25,21,7,14,3,2.0,11102,23,2022-10-25,2022
3,11102,8,NaN,NaN,NaN,NaN,NaN,NaN,111,41,...,18,16,8,12,5,-2.0,11102,23,2022-10-25,2022
4,11103,25,NaN,NaN,NaN,NaN,NaN,NaN,108,42,...,19,13,12,6,8,14.0,11103,25,2022-10-26,2022

In [7]:
data_stats['home_team'] = data_stats['team_id']==data_stats['home_team']

In [8]:
data_stats.head()

,game_id,team_id,fastBreakPoints,pointsInPaint,biggestLead,secondChancePoints,pointsOffTurnovers,longestRun,points,fgm,...,assists,pFouls,steals,turnovers,blocks,plusMinus,id,home_team,date,season
0,11101,41,NaN,NaN,NaN,NaN,NaN,NaN,120,44,...,26,21,7,12,7,21.0,11101,True,2022-10-25,2022
1,11101,10,NaN,NaN,NaN,NaN,NaN,NaN,99,36,...,12,26,6,13,1,-21.0,11101,False,2022-10-25,2022
2,11102,23,NaN,NaN,NaN,NaN,NaN,NaN,113,44,...,25,21,7,14,3,2.0,11102,True,2022-10-25,2022
3,11102,8,NaN,NaN,NaN,NaN,NaN,NaN,111,41,...,18,16,8,12,5,-2.0,11102,False,2022-10-25,2022
4,11103,25,NaN,NaN,NaN,NaN,NaN,NaN,108,42,...,19,13,12,6,8,14.0,11103,True,2022-10-26,2022